/node_modules
/public/hot
/public/storage
/public/mix-manifest.json
/public/adminer.php
/public/adminer.css
/public/css
/public/js
/storage/*.key
/vendor
.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
__pycache__