/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode

.DS_Store
.storybook

.env
.env.backup
.*.env
.*.env.backup

.cache
.phpunit.result.cache
__pycache__

Homestead.json
Homestead.yaml

auth.json

npm-debug.log
yarn-error.log

package.json
package-lock.json
yarn.lock
